{% extends "layout.tera" %}

{% block body %}
<div class="container-md" >
    <form action="{% block action %}{% endblock action %}" enctype="multipart/form-data" method="post">
        {% block questions %}
        {% endblock questions %}
    </form>
</div>
{% endblock body %}
